<h3 class="text-center">Bienvenido a Reciclahorro</h3>
<h3>¿Que es Reciclahorro?</h3>
<p>
    Somos un proyecto que nace con la idea crear un 
    escenario en el que se haga un eficiente uso de 
    los recursos mediante el aprovechamiento de los 
    residuos y la adecuada disposición de las basuras. 
    Sirviendo con medios de comunicación que promuevan 
    los hábitos de higiene con la ciudadanía. 
</p>
<h3>¿Que desea lograr reciclahorro?</h3>
<p>Adoptar conductas que garanticen la correcta clasificación y disposición de las basuras en el sitio apropiado por medio del uso de una aplicación móvil, que permita a los usuarios
    beneficiarse de hacer uso adecuado de las basuras 
<h4>Nuestra propuesta de producto:</h4>
<p>Desarrollar una aplicación que permita el desarrollo de competencias ciudadanas para la transformación y conservación del entorno. La aplicación muestra información sobre la
clasificación adecuada de las basuras al usuario, que resuelven a las siguientes interrogantes:
</p>
<h4>Reciclaje, reutilización y reparación:</h4>

<ol>
  <li>¿Qué debemos tirar?</li>
  <li>¿Qué debe ser guardado?</li>
  <li>¿Qué puede ser útil para otra persona u otro departamento?</li>
  <li>¿Qué deberíamos reparar?</li>
  <li>¿Qué podemos vender?</li>
</ol>
    
<h4>Reducción y clasificación:</h4>
<ol>
  <li>¿Es posible reducir el stock de esta cosa?</li>
  <li>¿Esto es necesario que esté a mano?</li>
  <li>¿Todos llamaremos a esto con el mismo nombre?</li>
  <li>¿Cuál es el mejor lugar para cada cosa?</li>
  <li>¿Es posible reducir el stock de esta cosa?</li>
  <li>¿Es posible reducir el stock de esta cosa?</li>
</ol>    
<h4>Concientización:</h4>
<ol>
  <li>¿Cree que realmente puede considerarse como “Limpio”?</li>
  <li>¿Esto es necesario que esté a mano?</li>
  <li>¿Qué utensilios, tiempo o recursos necesitaría para ello?</li>
  <li>¿Cuál es el mejor lugar para cada cosa?</li>
  <li>¿Qué cree que mejoraría el grado de Limpieza?</li>
  <li>¿Es posible reducir el stock de esta cosa?</li>
</ol>    
<h4>Módulos</h4>
<ul>
  <li>módulo informativo: noticias sobre campañas.</li>
  <li>módulo de clasificación: información relacionada con la deposición de correcta de los residuos.</li>
  <li>módulo de reconocimiento: likes, gráficas de cantidad de likes, en tarjetas punto o bonos en almacenes o puntos de compra.</li>
  <li>residuos de mascotas.</li>
  <li>compartir y donar</li>
</ul>      
