<h1>Bienvenido a Reciclahorro</h1>
<h2>¿Que es Reciclahorro?</h2>
<p>
    Somos un proyecto que nace con la idea crear un 
    escenario en el que se haga un eficiente uso de 
    los recursos mediante el aprovechamiento de los 
    residuos y la adecuada disposición de las basuras. 
    Sirviendo con medios de comunicación que promuevan 
    los hábitos de higiene con la ciudadanía. 
</p>
<h2>¿Cómo funciona reciclahorro?</h2>
<h2¿Cómo puedo empezar a reciclar ahorrando?</h2>
<div class="container">
    <h2>Cuida el medio ambiente</h2>
    <p>Salva el planeta para que las futuras generaciones lo puedan disfrutar.</p>            
    <img src="http://www.maquituls.es/noticias/wp-content/uploads/2017/06/reci.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> 
</div>
<% if !usuario_signed_in? %>
    <div class="container">
        <h3>¿Ya estás registrado?</h3>
        <%= link_to 'Iniciar sesión', usuario_session_path, class:'btn btn-primary' %>
    </div>
<% end %>