<h1>Bienvenido a Reciclahorro</h1>
<h2>¿Que es Reciclahorro?</h2>
<p>
    Somos un proyecto que nace con la idea crear un 
    escenario en el que se haga un eficiente uso de 
    los recursos mediante el aprovechamiento de los 
    residuos y la adecuada disposición de las basuras. 
    Sirviendo con medios de comunicación que promuevan 
    los hábitos de higiene con la ciudadanía. 
</p>
<h2>¿Cómo funciona reciclahorro?</h2>
<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
        <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3>HOME</h3>
          <p>Some content.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>Some content in menu 1.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Menu 2</h3>
          <p>Some content in menu 2.</p>
        </div>
      </div>
<h2¿Cómo puedo empezar a reciclar ahorrando?</h2>
<div class="container">
    <h2>Cuida el medio ambiente</h2>
    <p>Salva el planeta para que las futuras generaciones lo puedan disfrutar.</p>            
    <img src="http://www.maquituls.es/noticias/wp-content/uploads/2017/06/reci.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> 
</div>
<% if !usuario_signed_in? %>
    <div class="container">
        <h3>¿Ya estás registrado?</h3>
        <%= link_to 'Iniciar sesión', usuario_session_path, class:'btn btn-primary' %>
    </div>
<% end %>